@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"); /*VARIABLES*/
/*H1*/
/*H2*/ /*H3*/
/*IMAGENES*/
/*RESET CSS*/
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer";
}

button {
  background-color: #ff1616;
}

.cajaContacto {
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cajaEmpresa {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.productos {
  padding: 10px;
  margin: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-content: space-around;
  grid-template-rows: repeat(2, 400px);
  grid-template-columns: repeat(3, 400px);
}

.nuestrasMarcas {
  display: flex;
  justify-content: center;
}

.mapa {
  display: flex;
  justify-content: center;
}

/*HEADER*/
header {
  grid-area: header;
  background-color: white;
  justify-content: space-between;
}
header div {
  padding: 10px;
  margin: 10px;
}
header div img {
  width: 200px;
  margin-left: 30px;
}
header nav {
  padding: 10px;
  margin: 10px;
}
header nav ul {
  list-style-type: none;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  display: flex;
}
header nav ul li {
  padding: 10px;
  margin: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 10px;
  font-weight: 700;
}

/*MAIN*/
main {
  margin-top: 10px;
  grid-area: main;
  display: grid;
}
main section {
  padding: 10px;
  margin: 10px;
}
main section h1 {
  color: white;
  text-align: right;
  font-size: 50px;
  padding: 10px;
  margin: 10px 10px 10px 20px;
  font-weight: 800;
}
main section h2 {
  padding: 1px;
  margin: 1px;
  font-weight: 600;
  font-size: 40px;
  color: black;
}
main section article h3 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: 20px;
  font-weight: 800;
  color: black;
}
main section div {
  margin: 0px;
  padding: 10px;
}
main section div img {
  padding: 10px;
  margin: 10px;
}
main section div ul {
  padding: 10px;
  margin: 10px;
}
main section div ul li {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
main section div p {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
main section div iframe {
  padding: 10px;
  margin-top: 10px;
}
main section div form {
  margin: 10px;
  padding: 10px;
}

/*FONDOS*/
.fondoIndex {
  background-image: url(../img/imagen\ inicio.png);
  height: 100vh;
  width: 99%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin: 10px;
}

.fondoContacto {
  background-image: url(../img/imagen\ contacto.png);
  height: 100vh;
  width: 99%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin: 10px;
}

.fondoPinturas {
  background-image: url(../img/imagen\ pinturas.png);
  height: 100vh;
  width: 99%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin: 10px;
}

.fondoAccesorios {
  background-image: url(../img/imagen\ accesorios.png);
  height: 100vh;
  width: 99%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin: 10px;
}

/*TITULOS*/
#tituloContacto {
  background-color: #ff1616;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-weight: 800;
}

#tituloEmpresa {
  background-color: #ff1616;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-weight: 800;
}

#tituloIndex {
  font-size: 50px;
  text-align: right;
  padding: 10px;
  margin: 10px;
  color: black;
  margin-top: 40vh;
  font-weight: 800;
}

.titulos {
  color: white;
  background-color: #ff1616;
  text-align: right;
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  font-weight: 800;
}

/*FOOTER*/
footer {
  grid-area: footer;
  background-color: #ff1616;
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
footer div {
  padding: 10px;
  margin: 10px;
  width: 300px;
}
footer div img {
  width: 200px;
}
footer nav {
  padding: 10px;
  margin: 10px;
}
footer nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  display: flex;
}
footer nav ul li {
  padding: 10px;
  margin: 10px;
}
footer nav ul li a {
  padding: 10px;
  margin: 10px;
}

/*MEDIA QUERIES*/
/* MOVIL */
@media (min-width: 320px) and (max-width: 576px) {
  .fondoIndex {
    width: 100%;
  }
  #contacto {
    font-size: 30px;
  }
  main {
    margin-top: 10px;
  }
  main section {
    padding: 10px;
    margin: 10px;
  }
  main section h1 {
    font-size: 25px;
    padding: 10px;
    margin: 10px 10px 10px 20px;
  }
  main section h2 {
    padding: 1px;
    margin: 1px;
    font-size: 25px;
  }
  main section article h3 {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
  }
  main section div {
    margin: 5px;
    padding: 5px;
  }
  main section div img {
    padding: 5px;
    margin: 5px;
  }
  main section div ul {
    padding: 5px;
    margin: 5px;
  }
  main section div ul li {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }
  main section div p {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }
}
/* DESKTOP  */

/*# sourceMappingURL=styles.css.map */
