/*FONDOS*/
.fondoIndex{
    background-image: url(../img/inicio.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include bordes (10px, 10px);
}
.fondoPinturas{
    @extend .fondoIndex;
    background-image: url(../img/pinturas.png);
}
.fondoAccesorios{
    @extend .fondoIndex;
    background-image: url(../img/accesorios.png);
}