/*FOOTER*/
footer{
    grid-area: footer;
    background-color: map-get($paleta, primary-color);
    @include bordes(20px, 10px);
    display: flex;
    justify-content: space-between;
    div{
        @include bordes(10px, 10px);
        width: 300px;
        img{
            width: 200px;
        }
    }
    nav{
        @include bordes(10px, 10px);
        ul{
            list-style-type: none;
            @include bordes(10px, 10px);
            display: flex;
            li{
                @include bordes(10px, 10px);
                a{
                    @include bordes(10px, 10px);
                }
            }
        }
    }
}