/*FOOTER*/
footer{
    grid-area: footer;
    background-color: map-get($paleta, primary-color);
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;
        .logo{
            width: 200px;
        }
        ul{
            list-style-type: none;
            @include bordes (5px, 5px);
            display: flex;
            li{
                @include bordes (5px, 5px);
                a{
                    @include bordes (5px, 5px);
                }
                .redes{
                    width: 50px;
                }
            }
        }
    }
}