/*FOOTER*/
footer{
    grid-area: footer;
    background-color: map-get($paleta, primary-color);
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;
        .logo{
            @include bordes(10px, 10px);
            width: 200px;
        }
        ul{
            list-style-type: none;
            @include bordes (5px, 5px);
            display: flex;
            li, a{
                @include bordes (5px, 5px);
            }
            .redes{
                width: 50px;
            }
        }
    }
}
