/*RESET CSS*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer"
    ;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: repeat(1, 4fr);
}
.btn{
    background-image: linear-gradient(to left, #d83535, #db3234, #de2e32, #e02a31, #e3262f);
    color: map-get($paleta, secondary-color);
}
.caja{
    font-size: 25px;
    @include bordes (10px, 10px);
}
.cajaEmpresa{
    @extend .caja;
    justify-content: center;
}
.nuestrasMarcas{
    @include flex-center;
}
.mapa{
    @include flex-center;
    width: 50%;
}
.card{
    @include bordes (5px, 5px);
}
.row{
    width: 98%;
}
