/*HEADER*/
header{
    grid-area: header;
    background-color: map-get($paleta, secondary-color);
    justify-content: space-between;
    img{
        width: 200px;
        margin-left: 30px;
    }
    ul{
        list-style-type: none;
        font-size: 25px;
        display: flex;
        li{
            a{
                text-decoration: none;
                color: map-get($paleta, terciary-color);
                font-weight: 700;
            }
        }
    }
}
