/*MAIN*/
main{
    margin-top: 10px;
    grid-area: main;
    display: grid;
    section{
        display: grid;
        article{
            
            .nuestrasMarcas{
            @include flex-center;
            }
            h1{
                color: map-get($paleta, secondary-color);
                text-align: right;
                font-size: $font-primary-size;
                font-weight: 800;
            }
            h2{
                font-weight: 600;
                font-size: $font-secondary-size;
                color: map-get($paleta, terciary-color);
            }
            h3{
                text-align: center;
                font-size: $font-terciary-size;
                font-weight: 800;
                color: map-get($paleta, terciary-color);
            }
            h4{
                text-align: center;
                font-size: $font-four-size;
                margin-top: 20px;
                font-weight: 800;
                color: map-get($paleta, terciary-color);
            }
            img{
                @include bordes (10px, 10px);
            }
            ul{
                li{
                    font-size: 20px;
                    @include bordes (1px, 1px);
                }
            }
            p{
                font-size: 18px;
                @include bordes (5px, 5px);
            }
            iframe{
                @include bordes (10px, 10px);
                width: 600px; 
                height: 450px;
            }
            .mapa{
                @include flex-center;
                @include bordes(5px, 5px);
            }
            div{
                margin-top: 10px;
                margin-bottom: 10px;
                display: grid;
                .card-title{
                    text-align: left;
                    font-size: $font-four-size;
                    color: map-get($paleta, terciary-color);
                }
                .card-text{
                    font-size: $font-four-size;
                    color: map-get($paleta, terciary-color);
                }
                form{
                    @include bordes(5px, 5px);
                    .form-check-label{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}