@media (min-width:320px) and (max-width:480px){
    /*GENERALES*/
    .caja{
        @include bordes (1px, 1px);
    }
    .cajaEmpresa{
        @extend .caja;
    }
    /*HEADER*/
    header{
        nav{
            img{
                width: 50px;
            }
        }
        nav{
            ul{
                li{
                    @include bordes (1px, 1px);
                    .nav-link{
                        font-size: $font-four-size-query;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    /*MAIN*/
    main{
        section article{
            h1{
                font-size: $font-primary-size-query;
            }
            h2{
                font-size: $font-secondary-size-query;
            }
            h3{
                
                font-size: $font-terciary-size-query;
            }
            h4{
                font-size: $font-four-size-query;
            }
            img{
                @include bordes (1px, 1px);
                width: 50%;
            }
            ul{
                li{
                    font-size: $font-four-size-query;
                }
            }
            p{
                font-size: $font-four-size-query;
            }
            iframe{
                @include bordes (1px, 1px);
                width: 99%;
                height: 99%;
            }
            div{
                margin-top: 5px;
                .card-title{
                    font-size: $font-four-size-query;
                }
                .card-text{
                    font-size: $font-four-size-query;
                }
            }
        }
    }
    /*FONDOS*/
    .fondoIndex{
        height: 30vh;
        @include bordes (1px, 1px);
    }
    .fondoPinturas{
        @extend .fondoIndex;
    }
    .fondoAccesorios{
        @extend .fondoIndex;
    }
    /*TITULOS*/
    #tituloEmpresa{
        font-size: $font-primary-size-query;
        @include bordes (1px, 1px);
    }
    #tituloContacto{
        @extend #tituloEmpresa;
    }
    .tituloIndex{
        font-size: $font-primary-size-query;
        @include bordes (1px, 1px);
        margin-top: 10vh;
    }
    .titulos{
        @extend #tituloContacto;
    }
    .tituloSecundario{
        font-size: $font-secondary-size-query;
        @extend #tituloContacto;
    }
    /*FOOTER*/
    footer{
        div{
            .logo{
                width: 50px;
            }
            ul{
                @include bordes (1px, 1px);
                li{
                    @include bordes (1px, 1px);
                    a{
                        @include bordes (1px, 1px);
                    }
                    .redes{
                        width: 20px;
                    }
                }
            }
        }
    }
}
