/*MEDIA QUERIES*/
/* MOVIL */
@media (min-width: 320px) and (max-width: 767px){
    .fondoIndex{
        width: 100%;
    }
    #contacto{
    font-size: 30px;
    }
    main{
        margin-top: 10px;
        section {
            @include bordes(10px, 10px);
            h1{
                font-size: 25px;
                padding: 10px;
                margin: 10px 10px 10px 20px;
            }
            h2{
                @include bordes(1px, 1px);
                font-size: 25px;
            }
            article h3{
                font-size: 25px;
                @include bordes(10px, 10px);
            }
            div{
                @include bordes(5px, 5px);
                img{
                    @include bordes(5px, 5px);
                }
                ul{
                    @include bordes(5px, 5px);
                    li{
                        font-size: 20px;
                        @include bordes(5px, 5px);
                    }
                }
                p{
                    font-size: 20px;
                    @include bordes(5px, 5px);
                }
            }
        }
    }
}
/*TABLET*/
@media (min-width: 768px) and (max-width: 1023px){
    main{
        margin-top: 10px;
        section {
            @include bordes(10px, 10px);
            h1{
                font-size: 25px;
                padding: 10px;
                margin: 10px 10px 10px 20px;
            }
            h2{
                @include bordes(1px, 1px);
                font-size: 25px;
            }
            article h3{
                font-size: 25px;
                @include bordes(10px, 10px);
            }
            div{
                @include bordes(5px, 5px);
                img{
                    @include bordes(5px, 5px);
                }
                ul{
                    @include bordes(5px, 5px);
                    li{
                        font-size: 20px;
                        @include bordes(5px, 5px);
                    }
                }
                p{
                    font-size: 20px;
                    @include bordes(5px, 5px);
                }
            }
        }
    }
}
/* DESKTOP  */
@media (min-width: 1024px){
}