/*MEDIA QUERIES*/
@media (min-width:320px) and (max-width:576px){
    /*GENERALES*/
    /*HEADER*/
    header{
        nav{
            div{
                img{
                    width: 80px;
                }
                ul{
                    li{
                        @include bordes (1px, 1px);
                        .nav-link{
                            font-size: $font-four-size-query;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    /*MAIN*/
    main{
        section article{
            .nuestrasMarcas{
                @include flex-center;
                    a{
                        width: 90px;
                    }
                    img{
                        width: 90px;
                    }
                }
            h1{
                font-size: $font-primary-size-query;
            }
            h2{
                font-size: $font-secondary-size-query;
            }
            h3{
                font-size: $font-terciary-size-query;
            }
            h4{
                font-size: $font-four-size-query;
            }
            img{
                @include bordes (5px, 5px);
                width: 100%;
            }
            ul{
                li{
                    font-size: $font-four-size-query;
                }
            }
            p{
                font-size: $font-four-size-query;
            }
            iframe{
                @include bordes (1px, 1px);
                width: 99%;
            }
            div{
                margin-top: 5px;
                margin-bottom: 5px;
                .form-label, .form-text, .form-control, .form-check-label, .card-title, .card-text{
                    font-size: $font-four-size-query;
                }
            }
        }
    }
    /*FONDOS*/
    .fondoIndex, .fondoPinturas, .fondoAccesorios{
        height: 30vh;
        @include bordes (1px, 1px);
    }
    /*TITULOS*/
    #tituloEmpresa{
        font-size: $font-primary-size-query;
        @include bordes (1px, 1px);
    }
    #tituloContacto, .titulos{
        font-size: $font-primary-size-query;
    }
    .tituloIndex{
        font-size: $font-primary-size-query;
        @include bordes (1px, 1px);
        margin-top: 10vh;
    }
    .tituloSecundario{
        font-size: $font-secondary-size-query;
    }
    /*FOOTER*/
    footer{
        div{
            .logo{
                width: 80px;
            }
            ul{
                @include bordes (5px, 5px);
                li{
                    @include bordes (3px, 3px);
                    a{
                        @include bordes (1px, 1px);
                    }
                    .redes{
                        width: 20px;
                    }
                }
            }
        }
    }
}
@media (min-width:577px) and (max-width:768px){
    /*GENERALES*/
    /*HEADER*/
    header{
        nav{
            div{
                img{
                    width: 100px;
                }
                ul{
                    li{
                        @include bordes (1px, 1px);
                        .nav-link{
                            font-size: $font-four-size-query-md;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    /*MAIN*/
    main{
        section article{
            .nuestrasMarcas{
                @include flex-center;
                    a{
                        width: 150px;
                    }
                    img{
                        width: 150px;
                    }
                }
            h1{
                font-size: $font-primary-size-query-md;
            }
            h2{
                font-size: $font-secondary-size-query-md;
            }
            h3{
                font-size: $font-terciary-size-query-md;
            }
            h4, p{
                font-size: $font-four-size-query-md;
            }
            img{
                @include bordes (5px, 5px);
                width: 100%;
            }
            ul{
                li{
                    font-size: $font-four-size-query-md;
                }
            }
            div{
                margin-top: 5px;
                margin-bottom: 5px;
                .form-label, .form-text, .form-control, .form-check-label, .card-title,.card-text{
                    font-size: $font-four-size-query-md;
                }
            }
        }
    }
    /*FONDOS*/
    .fondoIndex, .fondoPinturas, .fondoAccesorios{
        height: 40vh;
        @include bordes (1px, 1px);
    }
    /*TITULOS*/
    #tituloEmpresa, #tituloContacto, .titulos{
        font-size: $font-primary-size-query-md;
    }
    .tituloIndex{
        font-size: $font-primary-size-query-md;
        margin-top: 10vh;
    }
    .tituloSecundario{
        font-size: $font-secondary-size-query-md;
    }
    /*FOOTER*/
    footer{
        div{
            .logo{
                width: 100px;
            }
            ul{
                @include bordes (5px, 5px);
                li{
                    @include bordes (3px, 3px);
                    a{
                        @include bordes (1px, 1px);
                    }
                    .redes{
                        width: 30px;
                    }
                }
            }
        }
    }
}