/*TITULOS*/
#tituloEmpresa{
    background-color: map-get($paleta, primary-color);
    font-size: $font-primary-size;
    text-align: center;
    @include bordes (5px, 5px);
    font-weight: 800;
}
#tituloContacto{
    color: map-get($paleta, secondary-color);
    @extend #tituloEmpresa;
}
.tituloIndex{
    font-size: $font-primary-size;
    text-align: right;
    @include bordes (10px, 10px);
    color: map-get($paleta, terciary-color);
    margin-top: 40vh;
    font-weight: 800;
}
.titulos{
    text-align: right;
    @extend #tituloContacto;
}
.tituloSecundario{
    font-size: $font-secondary-size;
    @extend #tituloContacto;
}
.card-title{
    text-align: left;
    font-size: $font-four-size;
    @include bordes (10px, 10px);
    color: map-get($paleta, terciary-color);
    }