/*VARIABLES*/
$primary-color: #ff1616;
$secondary-color: white;
$terciary-color: black;
/*H1*/
$font-primary-size: 50px;
/*H2*//*H3*/
$font-secondary-size: 40px;
$font-terciary-size: 30px;
$font-four-size: 20px;
/*IMAGENES*/
$vh-height: 100vh;
/*MEDIAS QUERIES*/
/*H1*/
$font-primary-size-query: 25px;
/*H2*//*H3*/
$font-secondary-size-query: 20px;
$font-terciary-size-query: 15px;
$font-four-size-query: 10px;
/*COLORES*/
$paleta:(
    primary-color: #ff1616,
    secondary-color: white,
    terciary-color: black,
);