// /*VARIABLES*/
// $primary-color: #ff1616;
// $secondary-color: white;
// $terciary-color: black;
/*H1*/
$font-primary-size: 50px;
/*H2*//*H3*/
$font-secondary-size: 40px;
/*IMAGENES*/
$vh-height: 100vh;
/*COLORES*/
$paleta:(
    'primary-color': #ff1616,
    'secondary-color': white,
    'terciary-color': black,
);